

.box {
	
	width: 50px;
	height: 50px;
	display: block;
	background-color: rgba(0, 8, 0, 0.5);
    border: 7px solid beige;
    border-radius: 50%;
}

#board {
	width: 490px;
	margin: 0 auto;
	
}
body {
	background-image: URL("http://31.media.tumblr.com/tumblr_m5mhek7mAk1qbajzvo1_1280.png");
	background-size: 100%;
}

.col {
	width: 70px;
	float: left;
	margin-top: 150px;
}
.hide {
	width: 300px;
	height: 200px;
	border: 7px solid black;
	margin: 0 auto;
	text-align: center;
	font-size: 75px;
	color: white;
	background-image: URL("http://media.giphy.com/media/krI1lBPsluByg/giphy.gif");
	background-size: 100%;
}